.divRey {
    margin-top: 30px;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 255, 255, 0.404); */
    display: flex;
    flex-direction: row;
}

/* .circle {
    background-color: red;
    width: 50%;
    height: 100%;
    margin: auto auto;
    border-radius: 50%;
    background: radial-gradient(circle, white, white, #1cb5e0, transparent, transparent, transparent);
} */

.contImg {
    width: 50%;
    height: 100%;
    /* background-color: #1ce057; */
    color: white;
    font-weight: bold;
    /* padding: 15px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.imgPok {
    /* background-color: red; */
    width: 350px;
    max-height: 350px;
    /* margin-top: 100px; */
    margin: auto;
    /* fill-opacity: bold; */
    filter: brightness(0);


}

.imgPok_2 {
    width: 350px;
    max-height: 350px;
    margin: auto;
}


.contBotons {
    width: 50%;
    height: 60%;
    margin: auto;
    /* background-color: rgba(231, 119, 119, 0.205); */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
}

.boton {
    background-color: #FF4848;
    border-radius: 32px;
    margin: 5px 5px 25px 5px;
    text-decoration: none;
    padding: 2px 25px;
    color: aliceblue;
}


@media (max-width: 700px) {
    .divRey {
        width: 100%;
        flex-direction: column;
    }

    .contBotons {
        width: 90%;
    }

    .contImg {
        width: 100%;
    }
}