.fullNav {
    position: fixed;
    display: flex;
    height: fit-content;
    justify-content: center;
    background-color: #FF4848;
    width: 100vw;
}

.divRey {

    display: flex;
    justify-content: center;
    background-color: #FF4848;
    width: 100vw;

}

.navCont {
    width: 90vw;
    height: 8%;
    background-color: #FF4848;
    display: flex;
    justify-content: space-between;
    padding-left: 2px 20px;
    text-decoration: none;
    color: #fff;

}

.linkNav {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: calc(1em + 0.5vw);
}



.linkNav img {
    min-height: 40px;
    height: 5vh;
    margin: 10px 10px;
    /* width: 50px; */
}